<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills navbar-right">
						<li><a href="#"><img src="../static/images/logo2.jpg"
								height="25" /></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-12 text-center">
							<img src="..\static\images\prop3rty.png" class="img-responsive" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="nav nav-pills nav-stacked">
								<li><br/></li>
								<li><a href="index.html">ACASA</a></li>
								<li class="active"><a href="#">APARTAMENTE</a></li>
								<li><a href="#">PROPRIETATI COMERCIALE</a></li>
								<li><a href="#">TERENURI</a></li>
								<li><a href="#">ZONE</a></li>
								<li><a href="#">DOCUMENTATIE</a></li>
								<li><a href="#">CONTACT</a></li>
								<li><br/></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="nav nav-pills nav-stacked">
								<li><br/></li>
								<li><a href="#">DESPRE</a></li>
								<li><a href="#">LEGAL</a></li>
								<li><br/></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-3">
							<form role="form" class="text-left">
								<div class="form-group">
									<label class="control-label" for="area">Suprafata:</label> <input
										class="form-control input-sm" id="area"
										placeholder="Suprafata" type="text" />
								</div>
								<div class="form-group">
									<label class="control-label" for="thermalInsulation">Izolare
										termica:</label> <select class="form-control input-sm"
										id="thermalInsulation" placeholder="Izolare termica">
										<option>Nu</option>
										<option>Da</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Finisaj:</label> <select
										class="form-control input-sm">
										<option>Nu</option>
										<option>Mediu</option>
										<option>Mare</option>
										<option>Luxos</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Incalzire centrala:</label> <select
										class="form-control input-sm">
										<option>Nu</option>
										<option>Da</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label" for="aptLevel">Etaj /
										Nivel:</label> <input class="form-control input-sm" type="text"
										id="aptLevel" placeholder="Etaj / Nivel" />
								</div>

							</form>
						</div>
						<div class="col-md-9">
							<img src="..\static\images\cluj_areas.jpg" class="img-responsive" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center">
							<button type="submit" class="btn btn-default btn-lg">EVAL</button>
						</div>
						<div class="col-md-4">
							<a class="btn btn-primary">Click me</a>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>