<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>prop3rty - Evaluare apartament</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript"
	src="http://cdn.jsdelivr.net/webjars/jquery/2.2.0/jquery.min.js"
	th:href="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
<script type="text/javascript"
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
	th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
</head>
<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills navbar-right">
						<li><a href="#"><img src="../static/images/logo2.jpg"
								height="25" th:src="@{images/logo2.jpg}" /></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div class="row">
						<div class="col-md-12 text-center">
							<img src="..\static\images\prop3rty.png" class="img-responsive"
								th:src="@{images/prop3rty.png}" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="nav nav-pills nav-stacked">
								<li><br /></li>
								<li><a href="/">ACASA</a></li>
								<li class="active"><a href="#">APARTAMENTE</a></li>
								<li><a href="#">PROPRIETATI COMERCIALE</a></li>
								<li><a href="#">TERENURI</a></li>
								<li><a href="#">ZONE</a></li>
								<li><a href="#">DOCUMENTATIE</a></li>
								<li><a href="#">CONTACT</a></li>
								<li><br /></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="nav nav-pills nav-stacked">
								<li><br /></li>
								<li><a href="#">DESPRE</a></li>
								<li><a href="#">LEGAL</a></li>
								<li><br /></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<form role="form" class="text-left">
								<div class="form-group">
									<label class="control-label" for="area">Suprafata:</label> <input
										class="form-control input-sm" id="area"
										placeholder="Suprafata" type="text" />
								</div>
								<div class="form-group">
									<label class="control-label" for="thermalInsulation">Izolare
										termica:</label> <select class="form-control input-sm"
										id="thermalInsulation" placeholder="Izolare termica">
										<option>Nu</option>
										<option>Da</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Finisaj:</label> <select
										class="form-control input-sm">
										<option>Nu</option>
										<option>Mediu</option>
										<option>Mare</option>
										<option>Luxos</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Incalzire centrala:</label> <select
										class="form-control input-sm">
										<option>Nu</option>
										<option>Da</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label" for="aptLevel">Etaj /
										Nivel:</label> <input class="form-control input-sm" type="text"
										id="aptLevel" placeholder="Etaj / Nivel" />
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-default btn-lg">EVAL</button>
								</div>

								<div class="panel panel-default">

									<div class="panel-body">Result</div>
								</div>
							</form>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<img src="..\static\images\cluj_areas.jpg" class="img-responsive"
								th:src="@{images/cluj_areas.jpg}" />
						</div>
					</div>
				</div>
			</div>
		</div>

</body>
</html>