<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Legal | Prop3rty</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<aside>
		<div class="logo">
			<a href="/">
				<p class="title">Prop3rty</p>
				<p>2015 Olympia Center, Cluj</p>
			</a>
		</div>
		<div class="main-menu">
			<ul>
				<li><a href="/apartments">Apartamente</a></li>
				<li><a href="/houses">Case</a></li>
				<li><a href="/comm">Proprietati comerciale</a></li>
				<li><a href="/lands">Terenuri</a></li>
				<li><a href="/zone">Zone</a></li>
				<li><a href="/docs">Documentatie</a></li>
				<li><a href="/contact" class='active'>Contact</a></li>
			</ul>
		</div>
		<div class="secondary-menu">
			<ul>
				<li><a href="/about">Despre</a></li>
				<li><a href="/legal">Legal</a></li>
			</ul>
		</div>
		<div class="contact">
			<a href="mailto:info@property.com">info@property.com</a>
		</div>
	</aside>
	<div class="main-content">
		<div class="outer">
			<a href="/users"><image class="icon" src="../static/images/user_icon.png" th:src="@{/images/user_icon.png}" alt="user-icon" width="45" /></a>
			<div class="middle">
				<div class="left-aligned inner wide">
					<h1>CONTACT</h1>
					<form method="post" action="/contact/postContactForm/">
						<label for="name">Nume*</label><br /> <input type="text" name="name" id="name" /><br /> <label for="email">E-mail*</label><br /> <input
							type="email" name="email" id="email"
						/><br /> <label for="message">Mesaj*</label><br />
						<textarea rows="5" cols="100" id="message" name="message"></textarea>
						<br /> <input type="submit" name="submit" value="trimite" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>