<!DOCTYPE html>
<html>
    <head>
        <title>Documentatie | Prop3rty</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <aside>
            <div class="logo">
                <a href="#">
                <p class="title">Prop3rty</p>
                <p>2015 Olympia Center, Cluj</p>
                </a>
            </div>
            <div class="main-menu">
                <ul>
                    <li><a href="#">Apartamente</a></li>
                    <li><a href="#">Case</a></li>
                    <li><a href="#">Proprietati comerciale</a></li>
                    <li><a href="#">Terenuri</a></li>
                    <li><a href="zone.html">Zone</a></li>
                    <li><a href="documentatie.html">Documentatie</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="secondary-menu">
                <ul>
                    <li><a href="despre.html">Despre</a></li>
                    <li><a href="legal.html">Legal</a></li>
                </ul>
            </div>    
            <div class="contact">
                <a href="mailto:info@property.com">info@property.com</a>
            </div>
        </aside>
        <div class="main-content italic">
            <div class="outer">
                <a href="#"><image class="icon" src="../static/images/user_icon.png" alt="user-icon" width="45"/></a>
            <div class="middle">
            
            <div class="centered-text inner">
                <p>Ca sa puteti sa evaluati o proprietate, atat din punct de vedere 
                    al valorii de vanzare, cat si a celui unei posibile inchirieri, va 
                    trebui sa va inregistrati cu un minim efort:</p>
                <ul>
                    <li>- un e-mail</li>
                    <li>- o parola (care va trebui retinuta)</li>
                    <li>- un nume (poate fi doar numele mic)</li>
                    <li>- un telefon (nu este obligatoriu, doar daca doriti)</li> 
                </ul>
                <p>Procesul acesta nu va va lua mai mult de un minut.</p>
                <p>Aplicatia va va purta prietenos selectand tipul de proprietate, 
                    respectiv felul evaluarii (vanzare respectiv inchiriere) pana 
                    in locul in care va trebui sa introduceti niste parametri 
                    (unii obligatorii, altii nu) si sa selectati pe harta cartierul 
                    in care se situeaza proprietatea pe care doriti sa o evaluati.</p>
                <p>Apasand butonul "Eval" aplicatia va va returna valoarea de evaluare 
                    in € a proprietatii iar Dvs aveti posibilitatea sa salvati sau sa 
                    listati acest rezultat. Tot acolo aveti un buton "Recalc" care va 
                    ajuta sa recalculati aceasta valoare la uin alt moment sau dupa caz 
                    daca schimbati valoarea parametrilor.</p>
                <p>In pagina user-ului, selectand "Proprietatile mele" veti vedea un 
                    istoric cu toate proprietatile evaluate si anumite detalii despre 
                    acestea. Puteti sa afisati o proprietate evaluata deja pentru o 
                    recalculare, puteti sterge proprietati etc.</p>
                <p>Daca ati uitat parola ... asta e ... mai faceti un cont :))
                    Folositi formularul de contact iar in campul de mesaje scrieti 
                    propozitia "parola, lumineaza-ti fata"                    
                </p>
            </div>
            </div>
            </div>
        </div>
    </body>
</html>
