<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="width=device-width, initial-scale=1, maximum-scale=1"
	name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>prop3rty</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
	<div class="container-fluid text-center">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
			<h1 class="text-center">PROP3RTY</h1>
			<p class="text-center">2016 OLIMPIA CENTER, CLUJ</p>
			<br />
			<div class="list-group">
				<a href="/apartments" class="list-group-item">APARTAMENTE</a> <a
					href="#" class="list-group-item">CASE</a> <a href="#"
					class="list-group-item">PROPRIETATI COMERCIALE</a> <a href="#"
					class="list-group-item">TERENURI</a> <a href="#"
					class="list-group-item">ZONE</a> <a href="#"
					class="list-group-item">DOCUMENTATIE</a> <a href="#"
					class="list-group-item">CONTACT</a>
			</div>
			<br />
			<div class="list-group">
				<a href="#" class="list-group-item">DESPRE</a> <a href="#"
					class="list-group-item">LEGAL</a>
			</div>
			<br />
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="row">
				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Contul meu<br /></a></li>
						<li><a href="#">Inregistrare user nou</a></li>
						<li><a href="#"><img src="../static/images/logo2.jpg"
								height="25" th:src="@{images/logo2.jpg}" /></a></li>
					</ul>
				</nav>
			</div>
			<div class="row">
				<img class="img-responsive" src="../static/images/avram_iancu.jpg"
					th:src="@{images/avram_iancu.jpg}" />
			</div>
		</div>
	</div>


</body>
</html>